<div class="col-md-6">
 <a href="/admin/addcoupon" class='btn btn-danger' >   ADD COUPON  </a>
</div>


<div class="card-body">
    <div class="table-responsive">
         <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>

       
        <tr>
            <th>No</th>
            <th>Coupon Code</th>
            <th>Minimum Price</th>
            <th>Discount</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    
    <tbody>
        
        <tr>
            <td>1</td>
            <td>C110D33</td>
            <td>2000</td>
            <td>500</td>
            <td>01-8-2022</td>
            <td>Delete</td>
           
        </tr>
       
    </tbody>
         </table>
    </div>
</div>

