<div class="col-md-6">
 <a href="/admin/addcoupon" class='btn btn-danger' >   ADD COUPON  </a>
</div>


<div class="card-body">
    <div class="table-responsive">
         <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>

       
        <tr>
            <th>No</th>
            <th>Coupon Code</th>
            <th>Name</th>
            <th>Discount</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    
    <tbody>
        <%for (var i=0;i<coupons.length;i++){%>
        <tr>
            <td><%=i+1%></td>
            <td><%=coupons[i]._id%></td>
            <td><%=coupons[i].name%></td>
            <td><%=coupons[i].discount%></td>
            <td>01-8-2022</td>
            <td>Delete</td>
           
        </tr>
       <%}%>
    </tbody>
         </table>
    </div>
</div>

